body, html {
  margin: 0;
  padding: 0;
  font-family: 'monaco', monospace;
  font-size: 16px;
  line-height: 140%;
  background: #fff;
  color: #444;
}
h1 {
  text-align: center;
}
.save-btn {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  color: #444;
  background: #eee;
  border-radius: 6px;
  padding: 1em 0;
  border: 0;
  outline: 0;
}
.save-btn:active {
  background: #ccc;
}
.content {
  width: 80%;
  max-width: 300px;
  margin: auto;
}
ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: auto;
}
li {
  padding: 1em;
  margin: 8px 0;
  background: #F4F4F4;
  color: #0E0E3E;
  box-shadow: inset 0 -2px #E4E4E4;
}
.add {
  text-align: center;
}
input[type=text] {
  background: #fff;
  width: 95%;
  font-size: 14px;
  padding: 2px;
}
input[type=text]:focus {
  outline: 1px solid #fff;
}
li button {
  display: none;
}

.visible {
  visibility: visible;
}

span {
  display: inline-block;
  width: 10px;
  height: 100%;
  float: right;
  visibility: hidden;
  cursor: pointer;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
span div:first-child {
  position: relative;
  top: 10px;
  background: #444;
  height: 4px;
  width: 12px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}
span div:last-child {
  position: relative;
  top: 6px;
  background: #444;
  height: 4px;
  width: 12px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}